
@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>
<h3>Please fill the form to register!</h3>
<hr />
<form class="form-horizontal" action="/Home/CoffeeRegistration" method="get">
    <div class="form-group">
        <label for="FirstName">First Name:</label>
            <input type="text" name="FirstName" class="form-control" />
        <label for="LastName">Last Name:</label>
            <input type="text" name="LastName" class="form-control" />
        <label for="Email">Email:</label>
            <input type="text" name="Email" class="form-control" /><br />
        <label for="Phone">Phone:</label>
            <input type="number" name="Phone" class="form-control" /><br />
        <label for="Password">Password:</label>
        <input type="text" name="Password" class="form-control" />
       
    </div>
    <div class="form-group">

            <input type="submit" class="btn btn-primary" name="Register!" />
            <input type="reset" class="btn btn-warning" name="Reset Form" />
        
    </div>
</form>